
.hero {
    position: relative; // para que o before funcione
    padding-top: 84px;
    padding-bottom: 20px;
    background-image: url("../images/CArangueijo_Hero05.png");
    background-repeat: no-repeat;
    background-size: cover;

            .container {
                position: relative;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                content: '';
                opacity: 40%;
            }

            &__logo {
                position: relative;
                top: -45px;
                left: -37px;
                display: block;
                margin: 0 auto;
                height: 100px;
                border-color: #af14fc;
                
                @media (max-width: 767px) {
                        position: relative;
                        top: -90px;
                        left: -18px;
                        display: block;
                        height: 60px;
                        margin-bottom: 38px;
                }

                @media (min-width:768) and (max-width: 1024px) {
                        position: relative;
                        top: -45px;
                        left: 10px;
                        display: block;
                        height: 128px;
                }
            }

            &__text {
                margin-top: 120px;
                margin-bottom: 0px;
                padding-top: 10px;
                    font-size: 32px;
                    text-align: center;
                    font-weight: 700;
                color: #fff;
                text-shadow: 2px 2px 3px #af14fc;

            @media (max-width: 767px) {
                        margin-top: -38px;
                        margin-bottom: 60px;
                    font-size: 28px;
                    text-align: center;
                    font-weight: 700;

            }

            @media (min-width:768) and (max-width: 1024px) {
                        margin-top: 109px;
                        margin-bottom: 0px;

            }

    }

    @media ( max-width: 767px) {
        position: relative; // para que o before funcione
        padding-top: 70px;
        padding-bottom: 20px;
        background-image: url("../images/CArangueijo_Hero05.png");
        background-repeat: no-repeat;
        background-size: 800px 300px;
        background-position: -180px 0px;
        
    }

    @media (min-width:768) and (max-width: 1024px) {
        padding-top: 60px;
        padding-bottom: 20px;
        background-image: url("../images/CArangueijo_Hero05.png");
        background-repeat: no-repeat;
        background-size: 1460px 500px;
        background-position: -300px 0px;
        
    }

        
    
}