@use 'components/infos_bar';
@use 'components/buttons';
@use 'hero';
@use 'components/event';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
        list-style: none;
}

.container {
    max-width: 960px; //Max resolution to screen
    width: 100%; // the max opuppation space in the screen
    margin: 0 auto; // here i centralized the contain
    
    // All right, let it's GO kkkkkk
    @media (max-width:767px) { // Resolution to smartphone
        max-width: 80%;
        padding: 40px 0;
    }
    @media (min-width:768) and (max-width: 1024px) { //Resolution to Tablet
        max-width: 90%;
    }

}

